.rating-container {
  display: flex;
  flex-direction: row;
}

.rating-value {
  color: #ffcf43;
  font-weight: 600;
}

.rating-stars {
  font-size: 12px;
  margin-left: 3px;
  margin-right: 3px;
  align-self: center;
}

.rating-count {
  color: #AFAFAF;
}